.resume-page {
    padding: 0 80px;
    background-color: var(--primary-bg);
    color: var(--primary-text);
}
  
.resume-page p {
    text-align: center;
}

.work h3,
.extracurriculars h3,
.courses h3 {
    text-align: center;
}

.work {
    display: flex;
    flex-direction: column;
    justify-items: center;
    row-gap: 20px;
    margin-bottom: 50px;
}

.extracurriculars {
    display: grid;
    grid-template-columns: repeat(auto-fit, 550px);
    justify-content: space-between;
    row-gap: 20px;
    margin-bottom: 50px;
}